em{
    color: #1251ae;
}
.content{
    padding:10px;
    box-sizing: border-box;
}

.content .bond-search-form-container::before{
    margin-top: 30px;
    content: '';
    width: 90%;
    height: 2px;
    background-color: #edf4ff;
}

input[type = 'search']{
    min-width: 230px
}

.split-container{
    width:100%;
    display:flex;
}
.split-container .left{
    width: 50%;
    padding:5px;
    border-right:2px solid #edf4ff;
}
.split-container .right{
    width:50%;
    padding:5px;

}

.btn-save{
    position: relative;
    top: -12px;
}